#home-heading {
	background: url('./img/homepage1.jpg');
	min-height: 620px;
	background-size: cover;
	background-attachment: fixed;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.2);
	min-height: 620px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.dashboard-background {
	background: url('./img/bookStore.jpg');
	background-size: cover;
	height: 100vh;
	z-index: 2;
}
.dashboard-opacity {
	z-index: 1;
	width: 87%;
	margin: 0 auto;
	opacity: 0.92;
}

.bookStoreForm {
	width: 100%;
	justify-content: center;
	opacity: 1;
}

.newBookPage {
	background: url('./img/bookStore.jpg');
	background-size: cover;
	height: 100vh;
}

.newBookContainer {
	width: 80%;
	height: 100vh;
	margin: 0 auto;
}

.addBookForm {
	width: 80%;
	height: 100%;
	margin: 60px auto;
}

.addBookCover {
	width: 170px;
	height: 200px;
	margin: 1.5rem 2rem;
	border: 3px solid cornsilk;
	border-radius: 2%;
}

.rightSideJpg {
	width: 450px;
	height: 400px;
	margin-top: -50px;
}

.headerIntroduction {
	font-family: medium-marketing-display-font, Georgia, Cambria, "Times New Roman", Times, serif !important;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 1.2;
}

.headerIntroductionAd {
	font-size: 20px;
	font-weight: 400;
	word-spacing: 0.1rem;
	line-height: 1.2;
	width: 90%;
	margin: 40px 10px 10px 75px;
}

.drawLine {
	height: 1px;
	width: 400px;
	border-bottom: 1px solid black;
	transform: rotate(90deg);
	position: relative;
	top: 220px;
	right: 150px;
}

.mainContent {
	background-color: #e8f3ec;
	margin: 0;
	width: 100% !important;
	height: 115vh;
	overflow: hidden;
}

.feedbackForm {
	width: 90%;
	box-shadow: 1px 2px 4px;
	z-index: 3;
	margin: 30px auto;
	padding-top: 2px;
}
